main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  margin-top: 20px;
}

.timer-des {
  font-weight: bold;
  font-size: 30px;
}

.timer {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gainsboro;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
}
