@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-size-msg {
  background-color: salmon;
  color: white;
  width: 100vw;
  height: 100dvh;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

@media screen and (max-width: 700px) {
  .media-size-msg {
    display: none;
  }
}
